<div class="container-fluid">
    <div class="row my-5">
        <div class=" d-flex justify-content-center">
            <div class="card shadow rounded rounded-3" style="width: 28rem; ">
                <div class="card-header justify-content-start fs-4 fw-bold">
               <div class="d-flex align-items-center justify-content-between">
                   <div class="">
                    Set Password
                   </div>
                   <div class="">
                    <a class="btn btn-danger btn-sm float-end" (click)="add()">
                        <i class="bi bi-arrow-left"></i></a>
                   </div>
               </div>
                </div>

                <div class="card-body">
                    <div class="">
                        <img class="rounded mx-auto d-block " src="\assets\img\unnamed.jpg" alt="alternatetext"
                            width="100" height="100">
                    </div>
                    <form [formGroup]="spForm">
                        <div class="row mt-2">
                            

                            <div class="col-md-9 mb-3 mx-auto ">
                                <label class="form-lable fw-bold mb-2">New Password</label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                    </div>
                                    <input name="password"  type="password" class="input form-control input-inner-shadow"
                                        formControlName="password" placeholder="Password" [type]="show"
                                        [ngClass]="{'is-invalid':spForm.controls['password'].invalid && submitted }" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="password_show()"
                                            *ngIf="show == 'password'">
                                            <i class="bi bi-eye-slash-fill"></i>
                                        </span>
                                        <span class="input-group-text" (click)="password_hide()" *ngIf="show == 'text'">
                                            <i class="bi bi-eye-fill"></i>
                                        </span>
                                    </div>
                                </div>
                                <!-- <input formControlName="password" placeholder=" New Password" type="password" class="form-control  "> -->
                            </div>
                            <div class="col-md-9 mb-3 mx-auto ">
                                <label class="form-lable fw-bold mb-2">Confirm Password</label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                    </div>
                                    <input name="confirm"  type="password" class="input form-control input-inner-shadow"
                                        formControlName="confirmPassword" placeholder="Confirm" [type]="Show"
                                        [ngClass]="{'is-invalid':spForm.controls['confirmPassword'].invalid && submitted }" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="password_Show()"
                                            *ngIf="Show == 'password'">
                                            <i class="bi bi-eye-slash-fill"></i>
                                        </span>
                                        <span class="input-group-text" (click)="password_Hide()" *ngIf="Show == 'text'">
                                            <i class="bi bi-eye-fill"></i>
                                        </span>
                                    </div>
                                </div>
                                <!-- <input formControlName="" placeholder="Confirm New Password" type="password" class="form-control  "> -->
                            </div>
                            <div class="text-center mb-3 py-2 ">
                                <button type="submit" class="btn btn-primary shadow-sm"(click)="setPass()" >Set New Password</button>
                            </div>
                            

                            
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>