/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #57b846;
}

//////////////////////////////////
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline: 80px;
  padding-top: 100px;
  padding-bottom: 20px;
}

.login100-pic {
  width: 400px;
}

.login100-pic img {
  max-width: 100%;
}

.login100-form {
  width: 290px;
}

.login100-form-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}

.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-block: 10px;
}

.input100 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 2px 68px;
}

/*------------------------------------------------------------------
  [ Focus ]*/
/* .focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87, 184, 70, 0.8);
} */

/* .input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
} */

/*------------------------------------------------------------------
[ Button ]*/
/* .container-login100-form-btn {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.login100-form-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
} */

/* .txt2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}

.createAccount {
  text-align: center;
  padding-top: 100px;
}

.otp-input {
  width: 2.5em;
  height: 2.5em;
  margin: 0.5em;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0.25em;
} */

/* .otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 1em;
} */

/*------------------------------------------------------------------
[ Responsive ]*/

/* @media (max-width: 992px) {
    .wrap-login100 {
      padding: 177px 90px 33px 85px;
    }
  
    .login100-pic {
      width: 35%;
    }
  
    .login100-form {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .wrap-login100 {
      padding: 100px 80px 33px 80px;
    }
  
    .login100-pic {
      display: none;
    }
  
    .login100-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-login100 {
      padding: 100px 15px 33px 15px;
    }
  }
   */

/* .container-fluid {
    /* background-image: url("../../assets/images/bg.jpeg"); */
/* background-repeat: "no-repeat";
    background-size: "cover"; */
/* }
  .glass_bg {
    background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .signUpBtn{
    background-color: #096dd9b8;
    color: #fff;
    &:hover{
      background-color: #096dd9b8;
      opacity: 0.8;
    /* }
  } */

/* .login-container { 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .image-side {
      flex: 1;
     
       
  
      img {
        max-width: 100%;
        height: auto;
      }
    }
  
    .form-side {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
     
  
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        max-width: 400px;
  
        .input-group {
          margin-bottom: 20px;
          width: 100%;
  
          label {
            display: block;
            margin-bottom: 8px;
          }
  
          input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
  
          .otp-inputs {
            display: flex;
            justify-content: space-between;
  
            input {
              width: 20%;
              text-align: center;
              padding: 10px;
              border: 1px solid #ccc;
              border-radius: 4px;
            }
          }
        }
  
        button{
          width: 100%;
          padding: 10px;
          border: none;
          border-radius: 4px;
        }
      }
    }
  } */

.main-container {
  background-image: url("../../assets//images/pencils-wire-holder-books-near-chalkboard-back-school-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* height: 100vh !important; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  .main-row{
    /* display: flex; */
  height: 100vh !important;

    justify-content: center;
    align-items: center;
  }
  .main-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
  }
  .img-fluid {
    width: 50rem;
  }
  .inner-card{
    /* display: flex;
    justify-content: center;
    align-items: center; */
  .btn{
    background-color: #0c7348;
    color: #fff;
  }
  }
  .registerLink{
    transition: 0.25s;
    cursor: pointer;
    &:hover{
      font-weight: bold;
      color: #0c7348;
    }
  }
  .logo-large-device{
    position: absolute;
    top: 3rem;
    left: 7rem;
  }
  .logo-small-device{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
  }
}
