.card-header {
  background: linear-gradient(45deg, #3b8dff, #1a53ff);
}

.heading {
  font-weight: bold;
  color: white;
}

.list-group-item {
  border: none;
  border-bottom: 1px solid #ddd;
}

.question {
  font-size: 1.1em;
  color: #000;
}

.correct-option, .student-answer {
  color: #5e5e5e;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}