/* .card-header {
  background: linear-gradient(45deg, #3b8dff, #1a53ff);
}

.heading {
  font-size: 2rem;
  margin: 0.2rem;
}

.head {
  font-size: 1.5rem;
}
.subhead {
  font-size: 1rem;
  margin: 0;
}

.list-group-item {
  border: none;
  border-bottom: 1px solid #ddd;
}

.correct-option,
.student-answer {
  color: #5e5e5e;
  font-size: 0.9rem;
  margin: 0;
}

.result,
.result:focus {
  font-size: 16px;
  color: #fff;
  padding: 5px 30px;
  border-radius: 0.7rem;
  background-image: linear-gradient(rgb(137, 105, 244), rgb(89, 40, 252));
  border: 1px solid rgb(50, 50, 50);
  border-bottom: 2px solid rgb(50, 50, 50);
  box-shadow: 0px 1px 6px 0px rgb(60, 0, 255);
  transform: translate(0, -2px);
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: linear;
}

.result:active {
  transform: translate(0, 0);
  border-bottom: 2px solid rgb(50, 50, 50);
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }

  .head {
    font-size: 1rem;
  }
  .subhead {
    font-size: 0.8rem;
  }

  .list-group-item {
    border-bottom: 1px solid #ddd;
  }

  .correct-option,
  .student-answer {
    font-size: 0.9rem;
  }

  .result,
  .result:focus {
    font-size: 10px;
    padding: 3px 10px;
    border-radius: 0.4rem;
    margin: 2px;
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 10px;
  }
} */

.container-fluid {
  background-color: rgb(239, 239, 239);
  min-height: 90vh;
  width: 100%;
}

.head-text {
  font-size: 20px;
  margin-bottom: 0 !important;
}

button {
  font-size: 16px;
  margin-left: 15px;
  background: linear-gradient(90deg, #309b45, #41984f, #68ce76 66%);
  border: none;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .head-text {
    font-size: 16px;
    margin-bottom: 0 !important;
  }

  .info-text {
    margin-bottom: 0 !important;
    font-size: 12px;
  }
  button {
    font-size: 12px;
  }
}

.shadow {
  box-shadow: none !important;
}
.list-group-item {
  border: none;
}

.card-header {
  background: linear-gradient(to right, #309b45, #41984f, #68ce76);
}
