<div class="row m-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-head">
        <h4 class="d-flex justify-content-center">
          Total Students : {{ totalStudents }}
        </h4>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-evenly">
          <h5 class="text-success">Attempted : {{ stuAttempted }}</h5>
          <h5 class="text-danger">Not Attempted : {{ stuNotAttempted }}</h5>
        </div>

        <div class="d-flex justify-content-evenly mt-3">
          <nz-progress
            [nzPercent]="attemptPercentage.toFixed(0)"
            nzType="circle"
            nzStatus="success"
            [nzFormat]="percentFormat"
            [nzWidth]="150"
          ></nz-progress>
          <nz-progress
            [nzPercent]="notAttemptPercentage.toFixed(0)"
            nzType="circle"
            nzStatus="exception"
            [nzFormat]="percentFormat"
            [nzWidth]="150"
          ></nz-progress>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-head">
        <h4 class="d-flex justify-content-center">Overall Results</h4>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-evenly">
          <h5 class="text-success">Passed : {{ totalPassed }}</h5>
          <h5 class="text-danger">Failed : {{ totalFailed }}</h5>
        </div>
        <div class="d-flex justify-content-evenly mt-3">
          <nz-progress
            [nzPercent]="passPercentage.toFixed(0)"
            nzType="circle"
            nzStatus="success"
            [nzFormat]="percentFormat"
            [nzWidth]="150"
          ></nz-progress>
          <nz-progress
            [nzPercent]="failPercentage.toFixed(0)"
            nzType="circle"
            nzStatus="exception"
            [nzFormat]="percentFormat"
            [nzWidth]="150"
          ></nz-progress>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row m-3">
  <div class="col-md-6">
    <div class="card">
      <div class="card-head">
        <h4 class="d-flex justify-content-center">Your Result</h4>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-4">
            <h5>Marks Obtained</h5>
          </div>
          <div class="col-8">
            <nz-progress
              [nzPercent]="marksPercent.toFixed(0)"
              [nzFormat]="marksFormat"
              [nzStatus]="MarkStatusFormat()"
              nzStrokeLinecap="round"
            ></nz-progress>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <h5>Questions Attempted</h5>
          </div>
          <div class="col-8">
            <nz-progress
              [nzPercent]="questionsPercent.toFixed(0)"
              [nzFormat]="questionsFormat"
              [nzStatus]="QuestionStatusFormat()"
              nzStrokeLinecap="round"
            ></nz-progress>
          </div>
        </div>
        <div class="row mb-3">
          <h5>Result Status</h5>
          <h5>Rank</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-head">
        <h4 class="d-flex justify-content-center"></h4>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</div>
