<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
>
</ngx-spinner>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-xs-12 col-sm-12 col-md-11 col-lg-10 col-xl-10 mb-4">
      <div class="card shadow mt-5">
        <div class="card-header text-center bg-primary">
          <h4 class="text-center text-white head-text">React Test Report</h4>
        </div>
        <div class="card-body p-4">
          <div *ngIf="currentQuestionSet">
            <div class="d-flex justify-content-center  ">
              <!-- <h3 class="mb-1 head-text text-center text-dark">
                {{ currentQuestionSet?.questionSet?.name }}
              </h3> -->
            </div>
            <ul class="list-group mb-3">
              <li
                *ngFor="
                  let question of currentQuestionSet?.questionSet?.questions;
                  let i = index
                "
                class="list-group-item info-text"
              >
                <div class="mb-2 subhead info-text">
                  <strong>Q{{ i + 1 }}: {{ question?.question }}</strong>
                </div>
                <div class="correct-option mb-1 info-text">
                  <strong>Correct Option: </strong>
                  {{ question?.correctOption }}
                </div>
                <div class="student-answer info-text">
                  <strong>Your Answer: </strong>
                  {{ question?.studentAnswer }}
                </div>
              </li>
            </ul>
            <div class="d-flex justify-content-between info-text text-center">
              <button  class="result btn btn-primary" (click)="viewDetails(currentQuestionSet)">
                View Result
              </button>
              <div>
                <button
                  class="btn btn-secondary me-2 "
                  (click)="previousQuestionSet()"
                  *ngIf="!isFirstSet()"
                  [disabled]="isFirstSet()"
                >
                  Previous Set
                </button>
                <button
                  class="btn btn-secondary "
                  (click)="nextQuestionSet()"
                  [disabled]="isLastSet()"
                  *ngIf="!isLastSet()"
                >
                  Next Set
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="!currentQuestionSet" class="text-center">
            <p>No question set available.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
