<ngx-spinner
  bdColor="rgba(51, 51, 51, 0.8)"
  size="medium"
  color="#fff"
  type="ball-beat"
>
</ngx-spinner>

<div class="container-fluid">
  <div class="container pt-5" *ngIf="startButton === false">
    <div class="row justify-content-center">
      <div class="col-12 col-xs-12 col-sm-12 col-md-11 col-lg-8 col-xl-8 mb-4">
        <div class="card">
          <div class="card-header text-center bg-primary">
            <h4 class="text-center text-white head-text">Test Info</h4>
          </div>
          <div class="card-body p-4">
            <div class="row">
              <div
                class="col-10 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-2"
              >
                <p class="info-text">
                  <strong>Name : </strong> {{ " " + data?.name }}
                </p>
              </div>
              <div
                class="col-10 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-2"
              >
                <p class="info-text">
                  <strong>Duration : </strong> {{ " " + data?.duration }}
                </p>
              </div>
            </div>
            <div class="row">
              <div
                class="col-10 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-2"
              >
                <p class="info-text">
                  <strong>Total Questions :</strong
                  >{{ " " + data?.noOfQuestion }}
                </p>
              </div>
              <div
                class="col-10 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-2"
              >
                <p class="info-text">
                  <strong>Passing Marks : </strong
                  >{{ " " + data?.passingMarks }}
                </p>
              </div>
            </div>
            <div class="row mb-3">
              <div
                class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9"
              >
                <p class="info-text">
                  <strong>Instructions : </strong>
                  Please ensure you have a stable internet connection. Do not
                  refresh the page during the test. Once you start the test, you
                  cannot pause it.
                </p>
              </div>
            </div>
            <div class="text-center">
              <button
                class="btn btn-primary"
                (click)="startTest()"
                [disabled]="data?.isAlreadySubmited"
              >
                {{ data?.isAlreadySubmited ? "Completed" : "Start Test" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-5" *ngIf="startButton === true">
    <div class="row justify-content-center">
      <div class="col-12 col-xs-12 col-sm-12 col-md-11 col-lg-8 col-xl-8 mb-4">
        <div class="card">
          <div class="d-flex justify-content-between text-center bg-primary">
            <span >
              <h2 class="text-center text-white head-text">
                MCQ of {{ data?.name }}
              </h2>
            </span>
            <span class="text-center text-white head-text">{{
              timeRemaining
            }}</span>
          </div>

          <div class="card-body p-4">
            <div class="d-flex justify-content-end mb-3">
              <!-- <div class="d-flex gap-1 align-self-center">
                <strong class="head">Name:</strong>
                <p class="text">{{ data?.name }}</p>
              </div> -->
              <!-- <span class="badge bg-primary p-2"
                >Time Remaining: {{ timeRemaining }}</span
              > -->
            </div>
            <form>
              <div class="head" *ngFor="let que of questions; let i = index">
                <p class="mb-2">
                  <strong>{{ i + 1 }}. {{ que?.question }}</strong>
                </p>
                <div class="div mb-4">
                  <div
                    class="form-check text"
                    *ngFor="let option of que?.options; let i = index"
                  >
                    <input
                      (change)="answerChange(option, i)"
                      class="form-check-input"
                      type="radio"
                      [value]="option"
                      [checked]="selectedAnswers[i] === option"
                    />
                    <label class="form-check-label text"
                      >{{ letters[i] }}. {{ option }}</label
                    >
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-primary xl" (click)="submit()">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #alertMsg let-modal>
  <div class="row mt-3 me-3">
    <div class="col-md-10 col-sm-10"></div>
    <div class="col-md-2 col-sm-2 text-right">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body text-center px-0">
    <h4 class="text-warning">Are you sure you want to Submit Test?</h4>
  </div>
  <div class="model-footer border-0 text-center px-0 pb-4">
    <div class="clearfix py-2">
      <button
        class="btn btn-danger me-2"
        (click)="submit()"
      >
        OK
      </button>
      <button class="btn btn-success" (click)="modal.dismiss('Cross click')">
        Cancel
      </button>
    </div>
  </div>
</ng-template> -->
