/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Champion Gothic;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

select {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

 
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-register {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.img-fluid{
  width: 80%;
}



.register-form-title {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.custom-row {
 
  padding-bottom: 20px;
}

.custom-input {
  display: flex;
  justify-content: center;
}

.input100 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 80%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

.container-register-form-btn {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.register-form-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 50%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.register-form-btn:hover {
  background: #333333;
}


@media (max-width: 450px){
  .custom-row{
    margin-bottom: -20px;
    .custom-input{
      margin-bottom: 30px;
    }
  }

} */

/* .container-fluid {
  background-image: url("../../assets/bg.jpg");
  
}
 
.signUpBtn{
  background-color: #096dd9b8;
  color: #fff;
  &:hover{
    background-color: #096dd9b8;
    opacity: 0.8;
  }
} */

.main-container {
  background-image: url("../../assets//images/pencils-wire-holder-books-near-chalkboard-back-school-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh !important; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  .form-select option:disabled {
    color: #cccccc; /* Color of the placeholder text */
  }
  .main-row{
    /* display: flex; */
  height: 100vh !important;

    justify-content: center;
    align-items: center;
  }
  .main-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: none;
  }
  
  
  .btn{
    background-color: #0c7348;
    color: #fff;
  }
  
  .registerLink{
    transition: 0.25s;
    cursor: pointer;
    &:hover{
      font-weight: bold;
      color: #0c7348;
    }
  }

  .logo-large-device{
    position: absolute;
    top: 3rem;
    left: 7rem;
  }
  .logo-small-device{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
  }

  .loginLink{

    transition: 0.25s;
    cursor: pointer;
    &:hover{
      font-weight: bold;
      color: #0c7348;
    }
  }

}


