* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

select {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

/* ////////////////////////////////////// */
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-register {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-register {
  width: 80%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.register-pic {
  width: 40%;
  display: flex;
  align-items: center;
}

.register-pic img {
  width: 100%;
}

.register-form {
  width: 60%;
}

.register-form-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 50px;
}

.custom-row {
  /* margin-block: 10px; */
  padding-bottom: 20px;
}

.custom-input {
  display: flex;
  justify-content: center;
}

.input100 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 80%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

.container-register-form-btn {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.register-form-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 50%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.register-form-btn:hover {
  background: #333333;
}
