
  

<div class="container-fluid mt-5" >
    <div class="row">
        
        <div class="d-flex justify-content-center ">
            
            <div class="card shadow rounded rounded-3 " style="width: 25rem;">

                <div class="card-header justify-content-start  fs-4 fw-bold">Reset Password
                    <a (click)="add()" type="submit"
           class="btn btn-outline-danger btn-md  float-end">
           <i class="bi bi-backspace-fill"></i></a>
                    <!-- <i class="bi bi-backspace-fill"routerLink = "../../user/user-list"></i> -->
                   </div>
                

                <div class="card-body">
                    <div class="">
                        <img class="rounded mx-auto d-block mb-2" src="\assets\img\unnamed.jpg" alt="alternatetext"
                            width="100" height="100">
                    </div>
                    
                    <form [formGroup]="rpForm">
                        <div class="row">
                            <div class="col-md-9 mb-3 mx-auto ">
                                <label class="form-lable fw-bold mb-2"> Old Password</label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                    </div>
                                    <input name="oldPassword" type="password" class="input form-control input-inner-shadow"
                                        formControlName="oldPassword" placeholder="Old Password" [type]="show"
                                        [ngClass]="{'is-invalid':rpForm.controls['oldPassword'].invalid && submitted }" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="password_show()"
                                            *ngIf="show == 'password'">
                                            <i class="bi bi-eye-slash-fill"></i>
                                        </span>
                                        <span class="input-group-text" (click)="password_hide()" *ngIf="show == 'text'">
                                            <i class="bi bi-eye-fill"></i>
                                        </span>
                                    </div>
                                </div>
                                <!-- <input formControlName="oldPassword" placeholder="Old Password" type="password" class="form-control  "> -->
                            </div>

                            <div class="col-md-9 mb-3 mx-auto ">
                                <label class="form-lable fw-bold mb-2"> New Password</label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                    </div>
                                    <input name="newPassword" type="password" class="input form-control input-inner-shadow"
                                        formControlName="newPassword" placeholder="New Password" [type]="Show"
                                        [ngClass]="{'is-invalid':rpForm.controls['newPassword'].invalid && submitted }" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="password_Show()"
                                            *ngIf="Show == 'password'">
                                            <i class="bi bi-eye-slash-fill"></i>
                                        </span>
                                        <span class="input-group-text" (click)="password_Hide()" *ngIf="Show == 'text'">
                                            <i class="bi bi-eye-fill"></i>
                                        </span>
                                    </div>
                                </div>
                                <!-- <input formControlName="newPassword" placeholder="New Password" type="password" class="form-control  "> -->
                            </div>

                            <div class="col-md-9 mb-3 mx-auto ">
                                <label class="form-lable fw-bold mb-2"> Confirm Password </label>
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                                    </div>
                                    <input name="confirmNewPassword" type="password" class="input form-control input-inner-shadow"
                                        formControlName="confirmNewPassword" placeholder="Confirm" [type]="SHow"
                                        [ngClass]="{'is-invalid':rpForm.controls['confirmNewPassword'].invalid && submitted }" />
                                    <div class="input-group-append">
                                        <span class="input-group-text" (click)="Password_Show()"
                                            *ngIf="SHow == 'password'">
                                            <i class="bi bi-eye-slash-fill"></i>
                                        </span>
                                        <span class="input-group-text" (click)="Password_Hide()" *ngIf="SHow == 'text'">
                                            <i class="bi bi-eye-fill"></i>
                                        </span>
                                    </div>
                                </div>
                                <!-- <input formControlName="confirmNewPassword" placeholder="Confirm New Password" type="password" class="form-control  "> -->
                            </div> 

                             <div class="text-center mb-3 py-2 ">
                                <button type="submit" class="btn btn-primary shadow-sm"(click)="resetPass(c)" [routerLink]="['/auth/login']" >Set New Password</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

