<div class="container mt-4">

<div class="row">
    <!-- <div class="col-col-6 col-md-4">
        <div class="container input-icons inputshadow">
            <div class="input-group input-group-sm">
                <select class="form-control" [(ngModel)]="branch" placeholder="Branch Type" (change)="searchFn()">

                    <option value="" selected disabled>Branch</option>
                    <option value="CT"> Computer Technology</option>
                    <option value="IT"> Information Technology</option>
                    <option value="ET"> Electronics And Telecommunication</option>
                    <option value="ME"> Mechanical Engineering</option>
                    <option value="CIVIL"> Civil Engineering </option>
                    <option value="ETX"> Electrical Engineering</option>
                    <option value="Others">Others</option>

                </select>
                <div class="input-group-append">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                        <button class="btn btn-sm " (click)="resetFilter()"><i class="bi bi-x-lg"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div> -->
    <div class=" col-col-6 col-md-4 mb-2">
        <div class="container input-icons inputshadow">
          <div class="input-group input-group-sm">
            <input
                      type="search"
                      class="input form-control input-inner-shadow searchinput"
                      aria-label="Small"
                      placeholder="Search"
                      [(ngModel)]="search"
                      (input)="searchFn()"
                      aria-describedby="inputGroup-sizing-sm"
                    />
            <div class="input-group-append">
              <span class="input-group-text" id="inputGroup-sizing-sm">
                <i class="bi bi-search"></i></span
              >
            </div>
          </div>
        </div>
    
      </div>
</div>

    <div class="card my-2">
        <div class="card-header text-dark">
            <div class="row">
                <div class="col-md-8 col-9">
                    <h2 class="mb-0 fw-bold">{{eventName}} Feedback List</h2>
                </div>
                
            </div>
           
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover ">
                    <thead class="thead ">
                        <tr class="table-secondary">
                        <th scope="col">Sr.No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Message</th>
                        <th scope="col">Date</th>
                        <th scope="col" class="mx-auto">Action</th>
                    </tr>
                    </thead>
                    <tbody class="tbody mt-3">
                        <tr *ngFor="let f of Feedback | filter : branch ; let i=index">
                            <td   scope="row">{{i+1}}</td>
                            <td  scope="row">{{f.name}}</td>
                            <td  scope="row">{{f.contact}}</td>
                            <td  scope="row">{{f.email}}</td>
                            <td  scope="row">{{f.message}}</td>
                            <td  scope="row">{{f.createdAt | date :'short'}}</td>
                            <!-- <td  scope="row">
                                    <span class="action-span" placement="left" ngbTooltip="{{f.remark}}">
                                        {{f.feedback}}
                                    </span>
                            </td> -->
                            <!-- <td  scope="row">{{f.que1}}, {{f.que2}}, {{f.que3}}</td> -->

                             <td  scope="row">
                                    <button class="btn btn-outline-danger  btn-sm " style="width: 30px;"
                                     (click)="open(f, deleteModal)" ngbTooltip="Delete"><i class="bi bi-trash"></i></button>
                            </td>
                            

   
   

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-between p-2 pagination-sm m-0">
              <div class="col-md-6 pl-0">
                <ngb-pagination
                [collectionSize]="collection"
                [(page)]="page"
                [pageSize]="pagesize"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                (pageChange)="onChangePage($event)"
              >
                <ng-template ngbPaginationFirst> << </ng-template>
                <ng-template ngbPaginationLast>>></ng-template>
                <ng-template ngbPaginationPrevious> < </ng-template>
                <ng-template ngbPaginationNext>></ng-template>
                <ng-template ngbPaginationEllipsis>...</ng-template>
                <ng-template ngbPaginationNumber class="custompage" let-page>
                  {{ page }}
                </ng-template>
              </ngb-pagination>
              </div>
              <div class="col-md-6 text-right pr-0 ">
                  <select class="custom-select" style="width: auto; float: right " [(ngModel)]="pagesize"
                      (change)="onChangePage($event)">
                      <option *ngFor="let option of pageLimitOptions" [value]="option.value"
                          [selected]="option.value == currentPageLimit">
                          {{ option.value }} item per page
                      </option>
                  </select>
              </div>
              <div class="row p-2">
                <div class="col-md-12">
                  <div class="text-right float-end">
                    <button
                      class="btn btn-sm btn-outline-info mx-2"
                      (click)="download('csv')"
                    >
                      <i class="fa fa-download"></i> Download as csv
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                      (click)="download('excel')"
                    >
                      <i class="fa fa-file-excel-o"></i> Download as excel
                    </button>
                  </div>
                </div>
              </div>
          </div>
            
        </div>
    </div>
</div>

<ng-template #deleteModal let-modal>
    <div class="row mt-3 mr-2">
        <div class="col-md-10 col-sm-10">
        </div>
        <div class="col-md-2 col-sm-2 text-right">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="modal-body text-center fw-bold px-0">
        <img src="" class="mb-3" width="100" alt="" />
        <h4 class="warn-color fw-bold fs-5">Are you sure you want to Delete ?</h4>
        <div class="clearfix modal-text">
            <label *ngIf="selectedRow.name">
                <h3>{{ selectedRow.name }}</h3>
            </label>
        </div>
    </div>
    <div class="model-footer border-0 text-center px-0 pb-4">
        <div class="clearfix py-2">
            <button class="btn btn-danger " (click)="deleteFeedback(this.selectedRow.id)">YES</button>
            <button class="btn btn-success mx-2" (click)="modal.dismiss('Cross click')">NO</button>
        </div>
    </div>
</ng-template>
