.card {
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
}
