<div class="container-fluid animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          <h3 class="mb-0">{{overViewData?.name}}</h3>
        </div>
        
        <div class="col-auto">
          <button type="button" class="btn btn-success" style="color:white;" (click)="goBack()">
            <!-- <i class="fa fa-arrow-left me-1" aria-hidden="true"></i> -->
            <i class="fa fa-graduation-cap " style="color: white;" aria-hidden="true"></i>
           Student List
          </button>

          <button type="button" class="btn btn-danger" (click)="goBack()">
            <i class="fa fa-arrow-left me-1" aria-hidden="true"></i>
            Back
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="seminarForm" class="form-horizontal">
        <label class="form-label">
          Seminar Name
          <span class="text-danger">{{overViewData?.name}}</span>
        </label>  
        <div class="row mt-5 d-flex justify-content-around">
          <div class="col-md-6  ">
            <apx-chart
            [series]="chartOptions?.series"
            [chart]="chartOptions?.chart"
            [xaxis]="chartOptions?.xaxis"
            [title]="chartOptions?.title"
            [labels]="chartOptions?.labels"
          ></apx-chart>    
          </div>
          <div class="col-md-6 ">
            <apx-chart
            [series]="chartOptions2?.series"
            [chart]="chartOptions2?.chart"
            [xaxis]="chartOptions2?.xaxis"
            [title]="chartOptions2?.title"
            [labels]="chartOptions2?.labels"
          ></apx-chart> 
        </div>    
        </div>
      </form> 
    </div>
 
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0"   >
      <ngb-panel *ngFor="let d of overViewData?.setsData;let i=index" [title]="d.name" >
        <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-6 border">
            <div class="row">
              <div class="col-12">
                <apx-chart
                [series]=[d.percentageOfFailStudent,d.percentageOfPassStudent]
                [chart]="{ height:200, type: 'pie' }"
                [xaxis]="chartOptions2?.xaxis"
                [title]="chartOptions?.title"
                [labels]="['PASS' ,'Fail']"  
              ></apx-chart>
              </div>
              <div class="col-12">
                <apx-chart
                [series]=[d.percentOfUnattemptedStudent,d.percentOfAttemptedStudent]
                [chart]="{ height:200, type: 'pie' }"
                [xaxis]="chartOptions2?.xaxis"
                [title]="chartOptions2?.title"
                [labels]="['Attempted' ,'NotAttempted']"
              ></apx-chart> 
              </div>
            </div>
          
          
         
          </div>
          <div class="col-6 ">
            <h4 class="text-center">Top Students</h4>

            <div class="table-responsive text-nowrap">
              <table
                class="table table-striped table-hover table-bordered table-sticky"
              >
                <thead class="table-primary">
                  <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>email</th>
                    <th>Phone</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of d.topStudent; let i = index">
                    <td>{{ s.rank }}</td>
                    <td>{{ s.studentInfo[0].firstName +" " +s.studentInfo[0].lastName }}</td>
                    <td>{{ s.studentInfo[0].email }}</td>
                    <td>{{ s.studentInfo[0].phone }}</td>            
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        </ng-template>
      </ngb-panel> </ngb-accordion>
  
  </div>
</div>
