<!-- <nav class="navbar navbar-expand-md  navbar-expand-sm navbar-expand-lg navbar-dark bg-dark my-auto">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">S2P logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/services/service-list']">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/user/user-list']">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/event/event-list']">Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/feedback/feedback-list']">Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/enquiry/enquiry-list']">Enquiry</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->
  <!-- <app-layout></app-layout> -->
<router-outlet></router-outlet>

<ngx-spinner bdColor = "rgba(232,230,228,0.8)" size = "large" color = "#f28504"
 type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p>
</ngx-spinner>


