<header class="custom-header">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <img src="../../assets/logo.png"  class="logo">
      <p class="head d-flex justify-content-between align-items-center">Test Dashboard</p>
    </div>

    <div>
      <button 
       class="btn-link me-3"  (click)="attemptTest()">
        Attempt Test
      </button>
      <button (click)="viewReport()" class="btn-link">View Report </button>
      <!-- <button (click)="loginPage()" class="btn-link mx-2"> Login Page</button> -->
    </div>
  </div>
</header>