.custom-header {
  background-color: #343a40; /* Dark gray background color */
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-header .btn-link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  background: none;
  border: none;
  padding: 0;
}

.custom-header .btn-link:hover {
  text-decoration: underline;
}

.custom-header h1 {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
}
