<div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-xs-12 col-sm-12 col-md-11 col-lg-8 col-xl-8 mb-4">
        <div class="card">
          <div class="card-header d-flex justify-content-between bg-primary p-2 px-3">
            <h2 class="text-center text-white head-text"></h2>
            <span class="text-center text-white info-text">
              <!-- <strong>{{ timeRemaining }}</strong> -->
            </span>
          </div>
          <div class="card-body p-4">
            <form>
              <div class="head mb-2">
                <div class="mb-2">
                  <!-- <p><strong>{{ i + 1 }}. {{ que?.question }}</strong></p> -->
                  <!-- <img *ngIf="que?.queImageUrl" [src]="que?.queImageUrl" alt="" class="queImg" /> -->
                </div>
                <div class="div mx-3">
                  <div class="form-check text">
                    <label>
                      <input
                        class="form-check-input"
                        type="checkbox"
                      />
                    </label>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-primary xl" >Submit</button>
              </div>
            </form>
            <!-- <div class="circle">{{ timeRemaining }}</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  